<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.blog.docket.electronicdocket">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".helper.EasyDiaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.WebViewActivity"
            android:label="Licenses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DiaryInsertActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DiaryReadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DiaryUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DiaryMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".googledrive.GoogleDriveUploader" />
        <activity android:name=".googledrive.GoogleDriveDownloader" />
        <activity
            android:name=".activities.BarChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.DiaryLockActivity" />
        <activity android:name=".activities.LockSettingActivity" />
        <activity
            android:name=".activities.PhotoViewPagerActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PostCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ColorPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TimelineActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.TestActivity"></activity>
    </application>

</manifest>